<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postbox</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/postbox/static/css/bootstrap.min.css">
  <script src="/postbox/static/js/jquery-2.2.4.min.js"></script>
  <script src="/postbox/static/js/bootstrap.min.js"></script>
     <style>
    /* Set black background color, white text and some padding */
    body{  position: relative;  }
    #section{padding-top:80px;}
     hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header" align="center">
        <h4 align="center" style="font-family:'Bernard MT Condensed';color:orange;font-size:25px">POSTBOX &nbsp;&nbsp;&nbsp; </h4>
   </div>

      </div>
</nav>


<div id="section" class="container text-center">

  <!-- Trigger the modal with a button -->
      <h2 align="center" style="font-family: 'Copperplate Gothic Light';color: lightgray">Share your thoughts with the world</h2>

       <h4 style="color: red"> Invalid username or password</h4>
       <a href="/accounts/login/">Login again</a>
    </div>
</body>
</html>


