<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

 <li>#}
{#      <form class="navbar-form navbar-right" role="search">#}
{#        <div class="form-group input-group">#}
{#          <input type="text" class="form-control" placeholder="Search..">#}
{#          <span class="input-group-btn">ss#}
{#            <button class="btn btn-default" type="button">#}
{#              <span class="glyphicon glyphicon-search"></span>#}
{#            </button>#}
{#          </span>#}
{#        </div>#}
{#      </form>#}
{#        </li>#}

{#     # PostDelete.as_view(), name='delete_post'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/category_list/$', CategoryList.as_view(), name='category_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/create_category/$', MyView.as_view(), name='create_category'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/update_category/$', CategoryUpdate.as_view(), name='update_category_list'),#}
{#    # url(r'^delete_category/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/$', CategoryDelete.as_view(), name='delete_category_list'),#}
{##}
{#    # url(r'^(P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/create_post/$', PostCreate.as_view(), name='create_post_list'),#}
{#    # url(r'^(P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/update_post/$', PostUpdate.as_view(), name='update_post_list'),#}
{#    # url(r'^(P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/delete_post/$', PostDelete.as_view(), name='delete_post_list'),#}
{#    # ##}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/$', CommentList.as_view(), name='comment_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/create_post/$', CommentCreate.as_view(), name='create_comment_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/update_post/$', CommentUpdate.as_view(),name='update_comment_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/delete_post/$', CommentDelete.as_view(), name='delete_comment_list'),#}
{#    ##}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/$', ReplyList.as_view(), name='reply_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/create_post/$', ReplyCreate.as_view(),  name='create_reply_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/(?P<r_id>[0-9]+)/update_post/$', ReplyUpdate.as_view(), name='update_reply_list'),#}
{#    # url(r'^(?P<uname>[A-Za-z]*)/(?P<uid>[0-9]+)/(?P<cid>[0-9]+)/(?P<pid>[0-9]+)/(?P<cm_id>[0-9]+)/(?P<r_id>[0-9]+)/delete_post/$', ReplyDelete.as_view(), name='delete_reply_list'),#}
{#]#}